{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<head><link rel="stylesheet" href="{% static 'theme/css/contact.css' %}"></head>
<h1>Contact Me</h1>

{% include 'navbar.html' %}

<hr>

<form action="contact.html" method="post">
    <div class="form-top">
        <h2><u>Send Me A Message!</u></h2>
        <img id="message" src = "{% static 'theme/images/mail.png' %}" alt="Mail Image">
    </div>
    <hr>
    <fieldset class="contact">
        <legend>Contact Info</legend>
        <div class="container">
            <label for="name" class="full-name">Full Name</label>
            <input type="text" id="name" name="user_name" required placeholder="Required">
        </div>

        <div class="container">
            <label for="mail">Email Address</label>
            <input type="email" id="mail" name="user_mail" required placeholder="Required">
        </div>

        <label for="message">Message</label>
        <textarea id="message" name="user_message" rows="5"></textarea>
    </fieldset>
    <button type="submit">Send</button>
</form>

{% endblock %}