{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1 class="text-center">Contact Me</h1>

{% include 'navbar.html' %}

<hr>

    <div class="form-top">
        <img id="message-img" class="img-fluid mx-auto d-block"  src = "{% static 'theme/images/mail.png' %}" alt="Mail Image">
    </div>
    {% if success %}
    <div class="alert alert-success" role="alert">
        Your message was sent! Check your inbox for a response!
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors%}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
    <fieldset class="contact">
        
        <legend class="text-center">Send Me A Message!</legend>
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}    
            {% for error in field.errors %}
            <p class="help-block text-danger">{{error}}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </fieldset>
    <button type="submit" class="btn btn-primary sbutton">Send</button>
</form>

{% endblock %}