{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1 class="text-center">Contact Me</h1>

{% include 'navbar.html' %}

<hr>

    <div class="form-top">
        <img id="message-img" class="img-fluid mx-auto d-block"  src = "{% static 'theme/images/mail.png' %}" alt="Mail Image">
    </div>

    <form action="contact.html" method="post">
    <fieldset class="contact">
        <legend class="text-center">Send Me A Message!</legend>
        <div class="form-group">
            <label for="name" class="full-name">Full Name</label>
            <input type="text" class="form-control" id="name" name="user_name" required placeholder="Required">
        </div>

        <div class="form-group">
            <label for="mail">Email Address</label>
            <input type="email" class="form-control" id="mail" name="user_mail" required placeholder="Required">
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="user_message" rows="5"></textarea>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary sbutton">Send</button>
</form>

{% endblock %}