form {
	padding: 15px;
	margin: auto;
}

fieldset {
	border: none;
	margin: 0;
	padding-top: 3px;
	padding-right: 0;
	padding-left: 0;
}

legend {
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 25px;
	padding-top: 20px;
    color:white;
}