
* { 
  box-sizing: border-box;
  text-align: center;
}

body {
  background-image: url("../images/atlbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 90px;
  font-weight: lighter;
  color: white;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: white;
}

h3 {
  color: white;
  font-size: 22px;
}

h4 {
  color: white;
  font-weight: lighter;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline;
  padding: 5px;
}

hr {
  display: block;
  margin-top: 20px;
  max-width: 70%;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
  text-align: center;
  color: white;
}

#skills {
  margin-top: -45px;
}

#skills li {
  border-radius: 6px;
  background: purple;
  color: white;
  font-size: 18px;
  margin: 2px;
}

#skills li:nth-child(odd) {
  background: black;
}

#edgar {
  display: block;
  border-radius: 50%; 
  max-width: 225px;
  margin: 0 auto;
  margin-top: 50px;
}

#bio {
  display: block;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  font-size: 20px;
  color: white;
}

#socials {
  margin-top: -32px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#socials a {
  text-decoration: none;
  color: white;
}

.icon {
  max-width:25px;
  max-height: 26px;
  margin: 2px;
  border-radius: 50%;
}

.navigation {
  font-size: 22px;
  font-weight: bold;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}
.navigation a:hover {
  font-weight: bold;
  text-shadow: 1px 1px 10px white;
}

.navigation li {
  margin: 10px;
}

.portfolio-image {
  max-width: 500px;
  border-radius: 10%;
}

.portfolio-text {
  color: white;
}

.portfolio-image:hover {
  box-shadow: 0 0 40px white;
  border: solid 3px black;
}

.first-row, .second-row, .third-row {
  display: inline-block;
  width: 90%;
  margin: 10px;
}

.first-row, .second-row, .third-row p{
  font-weight: bold;
}


#wrapper-1 {
  display: inline-block;
  width: 450px;
  float:left;
  max-height: 575px;
  background-color: hsl(0,0%,0%, .4);
  padding: 20px;
  border-radius: 5%;
}



#wrapper-2 {
  display: inline-block;
  width: 450px;
  float:none;
  max-height: 575px;
  background-color: hsl(0,0%,0%, .4);
  padding: 20px;
  border-radius: 5%;
}

#wrapper-3 {
  display: inline-block;
  width: 450px;
  float: right;
  max-height: 575px;
  background-color: hsl(0,0%,0%, .4);
  padding: 20px;
  border-radius: 5%;
}

#wrapper-4 {
  display: inline-block;
  width: 450px;
  float: left;
  max-height: 575px;
  background-color: hsl(0,0%,0%, .4);
  padding: 20px;
  border-radius: 5%;
}

#wrapper-5 {
  display: inline-block;
  width: 450px;
  float:right;
  max-height: 575px;
  background-color: hsl(0,0%,0%, .4);
  padding: 20px;
  border-radius: 5%;
}

#wrapper-6 {
  display: inline-block;
  width: 450px;
  float:left;
  max-height: 575px;
  background-color: hsl(0,0%,0%, .4);
  padding: 20px;
  border-radius: 5%;
}

#wrapper-7 {
  display: inline-block;
  width: 450px;
  float: none;
  max-height: 575px;
  background-color: hsl(0,0%,0%, .4);
  padding: 20px;
  border-radius: 5%;
}

#wrapper-8 {
  display: inline-block;
  width: 450px;
  float: right;
  max-height: 575px;
  background-color: hsl(0,0%,0%, .4);
  padding: 20px;
  border-radius: 5%;
}


